<div class="row"> 
<h1>Experiencia laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul>

<li>
    <h1>Trabajo 1</h1> - <h3>(years)</h3>
</li>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium atque, aliquid explicabo maxime hic error officia, mollitia libero, minus quos ab sequi modi! Soluta iure molestias consequuntur perspiciatis laudantium quaerat. 
</p>
    </ul>
    <ul>

        <li>
            <h1>Trabajo 2</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium atque, aliquid explicabo maxime hic error officia, mollitia libero, minus quos ab sequi modi! Soluta iure molestias consequuntur perspiciatis laudantium quaerat. 
        </p>
            </ul>
            <ul>

                <li>
                    <h1>Trabajo 3</h1> - <h3>(years)</h3>
                </li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium atque, aliquid explicabo maxime hic error officia, mollitia libero, minus quos ab sequi modi! Soluta iure molestias consequuntur perspiciatis laudantium quaerat. 
                </p>
                    </ul>

</div>
</div>

