<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="../../../assets/IMG_20230414_183446_686.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Antonio Jose Graterol Luzardo</p> 
        <p>Full Stack Developer Jr<P>
   </div>
   <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
         Doloremque facilis ratione unde molestiae vel, 
         atque sed, amet voluptas autem iusto, architecto molestias aut nam? 
         Quam dicta vitae in accusantium iure.
     </p>
    </span>
  
     </div>
  </div>
  